body {
    background-color: white;
}
:root {
    --primary: rgba(50,70,80,1);
    --secondary: rgba(170,190,200,1);
}
* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
h1, h2, h3, h4, h5, h6, h1 small, h1 a, h2 a, h3 a {
    font-family: "Roboto Slab", serif;
    font-weight: bold;
}

/* Side Nav */

.sideNav {
    background-color: var(--primary);
    padding: 15px 0 0 0;
    width: 230px;
    margin: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: -230px;
    overflow-x: hidden;
    transition: 0.5s;
    border-right: 3px solid black;
}
.sideNavBackground {
    background-color: var(--primary);
    margin: 0;
    width: 230px;
    position: fixed;
    left: -230px;
    top: 0;
    height: 100%;
    z-index: 2;
    transition: 0.5s;
    border-right: 3px solid black;
}
.sideNav * {
    color: white;
}
.sideNav a, .sideNav ul, .sideNav li {
    text-decoration: none;
    list-style: none;
}
.sideNav .nav-item {
    width: 100%;
    clear: left;
}
.sideNav a {
    float: left;
}
.sideNav a:hover {
    color: var(--secondary)
}
.dropdown-btn {
    display: inline-block;
    margin-top: 8px;
    height: 24px;
    width: 24px;
    cursor: pointer;
    background-color: rgba(0,0,0,0.0);
    border-radius: 15px;
}
.dropdown-btn:hover {
    background-color: rgba(0,0,0,0.6)
}
.dropdown-indicator {
    margin-bottom: 3px;
    margin-left: 7px;
    height: 14px;
    width: 10px;
    transition-duration: 100ms;
}
.rotate {
    transform: rotate(90deg);
}
.dropdownContainer {
    display: none;
    padding-left: 10px;
}
.mobileMenuIcon {
    padding: 8px;
    background-color: var(--primary);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}
.closeMenuIcon {
    display: none;
    position: relative;
    left: 0;
    height: 30px;
    width: 30px;
    transition: 0.5s;
    cursor: pointer;
}
.openMenuIcon {
    position: relative;
    left: 0;
    height: 30px;
    width: 30px;
    transition: 0.5s;
    cursor: pointer;
}

/* Homepage Title Upper Left */

.pageTitle {
    background-color: var(--primary);
    padding: 12px 15px 15px 15px;
    padding-left: 18px;
    width: 230px;
    display: none;
    float: left;
    border-right: 3px solid black;
}
.pageTitle p {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: white;
}
.pageTitle a:hover {
    text-decoration: none;
}
.pageTitleTitle {
    font-size: 1.7rem;
}
.pageTitleSubtitle {
    font-size: 1.2rem;
}

/* Top Nav */

.topNav {
    background-color: var(--primary);
    display: none;
    margin: 0;
}
.topNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--primary);
}
.topNav ul li {
    float: left;
}
.topNav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topNav ul li a img {
    height: 25px;
    width: 25px;
}
.topNav .nav-item:hover {
    background-color: var(--secondary);
}
/* Main Content */

main {
    min-height: 90vh;
    background-color: rgba(255,255,255,1);
    padding: 20px;
}
.indexHeaderImg {
    background-image: url("images/indexHeaderImg.jpg");
}
.weightLossHeaderImg {
    background-image: url("images/weightLossHeaderImg.jpg")
}
.waterCutHeaderImg {
    background-image: url("images/waterCutHeaderImg.jpg")
}
.generalNutritionHeaderImg {
    background-image: url("images/generalNutritionHeaderImg.jpg")
}
.headerImg {
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: relative;
    border-bottom: 2px solid black;
    z-index: -99;
}
header {
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 15px;
}
header h1 {
    color: white;
    font-size: 2rem;
    line-height: 2.2rem;
}
.blackOverlay {
    background-color: rgba(0,0,0,0.4);
}
.pageSectionHeader {
    margin-top: 30px;
    border-bottom: 1px solid black;
}
.mainSectionImg {
    width: 100%;
    height: auto;
    margin: 10px auto 10px auto;
    padding: 0;
    border: 2px solid black;
}
.pageSectionSubhead {
    margin-top: 20px;
    border-bottom: 1px solid black;
    font-size: 1.3rem;
}
.homeCard {
    background-color: var(--secondary);
    padding: 1rem;
    border-radius: 15px;
    margin: 20px auto 10px auto;
    text-decoration: none;
    color: black;
    display: block;
}
.homeCard p {
    margin: 0;
}
.homeCard:hover {
    text-decoration: none;
    color: var(--primary);
}
.homeCard:hover img {
    animation-name: pop;
}
@keyframes pop {
    from {
        transform: scale(1);
    }
    20% {
        transform: scale(1.1);
    }
    40% {
        transform: scale(0.93);
    }
    60% {
        transform: scale(1.05);
    }
    80% {
        transform: scale(0.97);
    }
    to {
        transform: scale(1);
    }
}
.homeCardImg {
    height: 130px;
    width: 130px;
    float: left;
    margin: 7px 15px 7px 5px;
    animation-duration: 550ms;
    animation-timing-function: ease-in-out;
    border-radius: 1rem;
}
.homeCalcContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.homeCalcContainer > a {
    flex-basis: 80%;
    flex-shrink: 1;
    border-radius: 15px;
    background-color: var(--secondary);
    border: 2px solid Black;
    padding: 0;
    overflow: hidden;
    color: black;
    display: block;
    margin: 1rem 0;
}
.homeCalcContainer > a:hover {
    text-decoration: none;
}
.homeCalcContainer > a:hover h3 {
    color: var(--secondary);
}
.homeCalcContainer > a p {
    padding: 15px;
}
.calculatorCard {
    border-radius: 15px;
    background-color: var(--secondary);
    border: 2px solid Black;
    padding: 0;
    margin: 15px;
    overflow: hidden;
    color: black;
}
.calculatorCardHeader {
    background-color: var(--primary);
    padding: 10px 15px 5px 15px;
    border-bottom: 2px solid black;
    color: white;
}
.calculatorCardHeader h3 {
    font-size: 1.6rem;
}
.calculatorCard p {
    padding: 15px;
    margin: 0;
}
blockquote {
    margin-left: 20px;
    margin-right: 20px;
    font-style: italic;
}
.calculatorCard form {
    margin: 20px;
}
.calculatorCard fieldset {
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}
.calcResult {
    color: white;
    background-color: var(--primary);
    margin: 10px 0 0 0 !important;
    padding: 3px 6px !important;
    border: 1px solid black;
}
input {
    padding-left: 5px;
}
input:invalid {
    border: 2px solid red;
}
input + span, input + label + span {
    position: relative;
}
input + span::before, input + label + span::before {
    position: absolute;
    right: -20px;
    top: 0;
}
input:invalid + span::before, input:invalid + label + span::before {
    content: '✖';
    color: red;
}  
input:valid + span::before, input:valid + label + span::before {
    content: '✓';
    color: green;
}
.foodsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.foodsList > div {
    flex-basis: 50%;
    flex-shrink: 1;
    flex-grow: 1;
    background-color: var(--secondary);
    border: 2px solid Black;
    padding: 0;
    overflow: hidden;
    color: black;
    display: block;
}
.foodsList > div:nth-Child(1) {
    border-radius: 15px 0 0 0;
}
.foodsList > div:nth-Child(2) {
    border-radius: 0 15px 0 0;
}
.foodsList > div:nth-Child(3) {
    border-radius: 0 0 0 15px;
}
.foodsList > div:nth-Child(4) {
    border-radius: 0 0 15px 0;
}
.foodsList ul {
    margin: 10px 15px 15px -10px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    vertical-align: top;
}
table {
    width: 100%;
    margin-bottom: 10px;
}
th, td {
    padding: 5px;
}

/* Footer */

footer {
    clear: both;
    background-color: rgba(0,0,0,1);
    color: white;
}
footer ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,1);
}
footer a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
  }
footer a:hover {
    color: white;
}
footer img {
    height: 25px;
    width: 25px;
}
footer .nav-item:hover {
    background-color: var(--primary);
}
.contactButton {
    padding: 4px 12px;
    border: 3px solid var(--primary);
    background-color: var(--secondary);
    font-size: 1.3rem;
    display: inline-block;
    margin-bottom: 2rem;
    border-radius: 5px;
    color: black;
}
.contactButton:hover {
    border: 3px solid var(--secondary);
    background-color: var(--primary);
    text-decoration: none;
    color: white;
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
.mainSectionImg {
    width: 35%;
    height: auto;
    float: right;
    margin: -40px 0 0 10px;
}
.pageSectionHeader {
    width: 62%;
}
.homeCalcContainer {
    justify-content: space-between;
}
.homeCalcContainer > a {
    flex-basis: 30%;
}
.foodsList {
    justify-content: space-between;
}
.foodsList > div {
    flex-basis: 25%;
}
.foodsList > div:nth-child(2) {
    border-radius: 0;
}
.foodsList > div:nth-child(3) {
    border-radius: 0;
}
.foodsList > div:first-child {
    border-radius: 15px 0 0 15px;
}
.foodsList > div:last-child {
    border-radius: 0 15px 15px 0;
}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
.calculatorBlock {
    margin: auto;
}
.headerImg {
    height: 350px;
    background-position: right;
    background-size: 100% auto;
}
header h1 {
    font-size: 3rem;
    line-height: 3.4rem;
}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
.pageTitle {
    display: inline;
}
.sideNav {
    background-color: var(--primary);
    padding-right: 0;
    width: 230px;
    margin: 0;
    float: left;
    clear: left;
    position: sticky;
    top: 0;
}
.sideNavBackground {
    width: 230px;
    left: 0;
    top: 0;
    z-index: -9;
    transition: 0s;
}
.mobileMenuIcon {
    display: none;
}
.topNav {
    display: inline;
}
header {
    left: 220px;
}
main {
    margin-left: 230px;
    padding: 25px 35px;
}
header h1 {
    margin: 0 0 0 25px;
}


}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
.headerImg {
    height: 350px;
    background-position: right;
    background-size: 90% auto;
}
}